body{
    background-color: black;
}
.service{
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}
.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color:purple;
}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.button{
    background-color: purple;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}
.button:hover{
    background-color: transparent;
    border: 2px solid purple;
    cursor: pointer;
}
.navbar{
    width: 85%;
    display: flex;
    align-items: center;
    margin:  auto;
    padding: 35px;
}
#logo Img{
    width: 120px;
    cursor: pointer;
   
    
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    position: relative;
    z-index: 1;
}

.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
}
.navbarul li{
    list-style: none;
}
.icons ul li a{
   
    padding: 10px 18px;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
   
}
.icons ul li a:hover{
    background-color:purple;

}
